/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

/********HEADER**************/

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  width: 100%;
  display: flex;
}

.accueil-hebergements-and-activites {
  padding-left: 900px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.accueil-hebergements a {
  text-decoration: none;
  color: black;
}

.accueil-hebergements a:hover {
  color: #0065fc;
}

.accueil-activites a {
  text-decoration: none;
  color: black;
}

.accueil-activites a:hover {
  color: #0065fc;
}

/*******Main********/

p {
  font-size: 16px;
  font-weight: lighter;
}

h1 {
  padding-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: auto;
  width: 400px;
}

.Icon {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-radius: 10px 0 0 10px;
}

.local-research {
  width: 200px;
  height: 50px;
  border: none;
}

.bouton-rechercher {
  width: 110px;
  height: 50px;
  background-color: #0065fc;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.filtres {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

button {
  width: 160px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  border-color: #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}

button i {
  padding-right: 10px;
}

.info p {
  margin-left: 15px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 20px;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 35px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-top: 33px;
}

.hebergements-cards img {
  width: 100%;
  height: 122px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
  width: 31%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 37%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 63%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 11px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 7px;
}

/******Activités***********/

.activites {
  padding-top: 30px;
  padding-bottom: 30px;
}

.activites section {
  width: 100%;
}

.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 15px;
  justify-content: center;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
}

.activites-cards img {
  width: 300px;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .cards-content {
  width: 300px;
  height: 150px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*****footer********/

.pied-de-page {
  background-color: var(--main-bg-color);
  width: 1300px;
  display: flex;
  flex-direction: row;
  gap: 250px;
  margin-left: 50px;
  margin-top: 50px;
}

.à-propos {
  padding-left: 30px;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
