/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

/********HEADER**************/

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.accueil-logo img {
  width: 70px;
  height: 22px;
}

.accueil-hebergements-and-activites {
  padding-left: 1000px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.accueil-hebergements a {
  text-decoration: none;
  color: black;
}

.accueil-hebergements a:hover {
  color: #0065fc;
}

.accueil-activites a {
  text-decoration: none;
  color: black;
}

.accueil-activites a:hover {
  color: #0065fc;
}

/*******Main********/

p {
  font-size: 16px;
  font-weight: lighter;
}

h1 {
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 0;
}

form {
  display: flex;
}

.local-research {
  width: 200px;
  height: 50px;
  border: 1px solid #f2f2f2;
}

.btn-search {
  width: 130px;
  height: 50px;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  color: #deebff;
  border: none;
  font-weight: bold;
  font-size: medium;
}

.filtres {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.filtres-button {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

button {
  border-radius: 50px;
  background-color: white;
  border: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #deebff;
}

i {
  font-size: larger;
}

.btn-economique {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-familial {
  width: 115px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-romantique {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-pepites {
  width: 145px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icone-info {
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: black;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 25px;
  box-sizing: border-box;
  margin-top: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.hebergements-cards .card {
  display: flex;
  width: 250px;
  height: 200px;
  flex-direction: column;
  margin-top: 33px;
}

.hebergements-cards img {
  width: 100%;
  height: 122px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 11px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 7px;
}

/****** Populaires ***********/
.populaires {
  width: 31%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 37%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 63%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 11px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 7px;
}

/******Activités***********/

.activites {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.activites .section-title {
  padding-left: 20px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 26px;
  margin-top: 30px;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.activites-cards img {
  width: 310px;
  height: 400px;
  border-radius: 20px 20px 0 0;
}

.activites-cards .cards-content {
  width: 310px;
  height: 150px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.activites-cards .card-title {
  padding-left: 20px;
}

/*****footer********/

.pied-de-page {
  background-color: var(--main-bg-color);
  width: 1350px;
}

.menu-pied-de-page {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-top: 30px;
  gap: 250px;
}

ul {
  padding-left: 0%;
}

ol {
  padding-bottom: 15px;
  padding-left: 0%;
}

/****** Media queries ***********/

/*Large devices (large desktop, less/equal than 1440px) */
@media screen and (max-width: 1440px) {
  body {
    width: 100%;
  }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  .accueil-hebergements-and-activites {
    padding-left: 600px;
  }

  .form-search {
    margin-top: 30px;
  }

  .local-research {
    width: auto;
    height: auto;
  }

  .filtres {
    display: flex;
    flex-direction: column;
  }

  .filtres-button {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 20px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-cards img {
    width: 200px;
    height: 200px;
  }

  .activites-cards .cards-content {
    width: 200px;
    height: 25px;
  }

  .activites-cards .card-title {
    padding-left: 20px;
  }

  .pied-de-page {
    width: auto;
  }

  .menu-pied-de-page {
    gap: 120px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
